<aside class="col-lg-4 tm-aside-col">
    <div class="tm-post-sidebar">
        <hr class="mb-3 tm-hr-primary"/>
        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
        <ul class="tm-mb-75 pl-5 tm-category-list">
            {% for category in categories %}
            <li>
                <a
                        href="{% url 'category_detail' category.slug %}"
                        class="tm-color-primary"
                >{{ category.title }}</a
                >
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>